.derived/
.idea/
.vs/
.vscode/
build/
build-*/
dist/
docs/
out/
*.pyc
# Visual Studio
/CMakeSettings.json
# CLion builds
cmake-build-*/
# AI harnesses that I don't quite like
.claude/
.codebuddy/
# Runtime stuff
render.png
imgui.ini
# Gradle (grr)
.gradle/
gradle/
gradlew
gradlew.bat
local.properties
.cxx/
# Automatiaclly generated
Android/app/src/main/assets
Android/app/src/main/org/libsdl
# I have no idea why my box wants to put this file here
127.0.0.1* 
