[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Dependencies/entt"]
	path = Dependencies/entt
	url = https://github.com/skypjack/entt
[submodule "Dependencies/ImGuizmo"]
	path = Dependencies/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "Dependencies/tracy"]
	path = Dependencies/tracy
	url = https://github.com/wolfpld/tracy
[submodule "Dependencies/glog"]
	path = Dependencies/glog
	url = https://github.com/google/glog
[submodule "Dependencies/assimp"]
	path = Dependencies/assimp
	url = https://github.com/assimp/assimp
